P{  
    font-family: 'Dancing Script', cursive;
    
}
header{
    text-align: center;
}
h1{text-align: center;
    margin-top: 0;
}
#Lojas{
    margin-left: 400px;
    float: left;
    text-align: center;
    align-items: center;
}
#Endereços{
    margin-top: 50px;
    margin-right: 400px;
    float: right;
    font-family: 'Dancing Script', cursive;
    text-align: center;
   
}
h3{
    margin-bottom: 230px;
}