*{
    box-sizing: border-box;
    margin: 0;
}

body{
background-color: #f2f6ce;
}

.container{
    width: 1400px;
    height: 1400px;
    margin: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #F7D6E0;
    font-family: Sweet Hipster;
}

@font-face {
    font-family: Sweet Hipster;
    src: local(Sweet Hipster), url(../fonte/Sweet\ Hipster.ttf)
}

header{
    width: 1400px;
    height: 180px;
    position: relative;
    background: url("../imagens/Banner.jpg") center no-repeat;
    color:#F2B5D4;

}
#cart{
    width: 40px;
    margin: 10px;
    float: right;
}


#logo{
    display: block;
    margin-left: 550px;
    margin-right: auto;
    width: 280px;
    height: 130px;
}

.link1, .link2, .link3, .link4, .link5
{
    text-decoration: none;
    color:#e15199;
    text-shadow: 3px 0 #ffffff, 0 3px #ffffff, 3px 0 #ffffff, 0 3px #ffffff;
}

nav{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;

}

li{
    list-style-type: none;
    list-style-position: initial;
    display: inline;
    padding-left: 35px;
    padding-right: 35px;

}

#conteudo{
    display: block;
    width: 90%;
    height: 70%;
    margin: auto;
    margin-top: 37px;
    margin-bottom: 23px;
    background-color: #EFF7F6;
    box-shadow: 0 0 1em #E774AD ;
}


.icone{
    margin-top: 30px ;
}


footer{
    width: 1400px;
    height: 180px;
    background: url("../imagens/Banner.jpg") center no-repeat;
    position: relative;
    text-align: center;
}

#produtos{
    display: block;
    margin: 0 auto;
    width: 1200px;
    height: 980px;
}

#titulo{
    font-size: 60px;
    text-align: center;
    color: #e15199;
    background-color: #B2F7EF;
    text-shadow: 3px 0 #ffffff, 0 3px #ffffff, 3px 0 #ffffff, 0 3px #ffffff;
    height: 100px;
}

p{
    font-family: 'Baloo 2', cursive;
    padding-top: 10px;
}
h1{
    margin-top: 5px;
    letter-spacing: 4px;
}

#prod-l1{
    float: left;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    background-color: #B2F7EF;
    width: 1000px;
    height: 150px;
    Border-left: 2px solid #E774AD;
    border-right: 2px solid #E774AD;
}

#prod-l2{
    float: left;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #B2F7EF;
    width: 1000px;
    height: 150px;
    Border-left: 2px solid #E774AD;
    border-right: 2px solid #E774AD;
}

#prod-l3{
    float: left;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #B2F7EF;
    width: 1000px;
    height: 150px;
    Border-left: 2px solid #E774AD;
    border-right: 2px solid #E774AD;
}

#prod-r1{
    float: right;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #F2B5D4;
    width: 1000px;
    height: 150px;
    text-align: right;
    Border-left: 2px solid #B2F7EF;
    border-right: 2px solid #B2F7EF;
}

#prod-r2{
    float: right;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #F2B5D4;
    width: 1000px;
    height: 150px;
    text-align: right;
    Border-left: 2px solid #B2F7EF;
    border-right: 2px solid #B2F7EF;
}

#img-l1 {
    width: 160px;
    height: 120px;
    padding-right: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    float: left;
}

#img-l2 {
    width: 160px;
    height: 120px;
    padding-right: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    float: left;
}

#img-l3 {
    width: 160px;
    height: 120px;
    padding-right: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    float: left;
}

#img-r1 {
    width: 160px;
    height: 120px;
    padding-left: 20px;
    padding-bottom: 10px;
    float: right;
}

#img-r2 {
    width: 160px;
    height: 120px;
    padding-left: 20px;
    padding-bottom: 10px;
    float: right;
}

.paginacao{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

li{
    list-style-type: none;
    list-style-position: initial;
    display: inline-block;
    padding-left: 35px;
    padding-right: 35px;
    text-decoration: none;
    color:#e15199;
    text-shadow: 3px 0 #ffffff, 0 3px #ffffff, 3px 0 #ffffff, 0 3px #ffffff;
}
