*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    width: 1400px;
    height: 1400px;
    margin: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #F7D6E0;
    font-family: Sweet Hipster;
}
@font-face {
    font-family: Sweet Hipster;
    src: local(Sweet Hipster), url(../fonte/Sweet\ Hipster.ttf)
}
header{
    width: 1400px;
    height: 180px;
    position: relative;
    background: url("../imagens/Banner.jpg") center no-repeat;
    color:#F2B5D4;
    
}

#logo{
    display: block;
    margin-left: 550px;
    margin-right: auto;
    width: 280px;
    height: 130px;
}

.link1, .link2, .link3, .link4, .link5
{
    text-decoration: none;
    color:#e15199;
    text-shadow: 3px 0 #ffffff, 0 3px #ffffff, 3px 0 #ffffff, 0 3px #ffffff;
}

nav{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    
}

li{
    list-style-type: none;
    list-style-position: initial;
    display: inline;
    padding-left: 35px;
    padding-right: 35px;

}

#conteudo{
    display: block;
    width: 90%;
    height: 70%;
    margin: auto;
    margin-top: 27px;
    margin-bottom: 13px;
    background-color: #EFF7F6;
    box-shadow: 0 0 1em #E774AD ;
}

.p-pesq{
    float: right;
    width: 300px;
    font-size: 30px;
    color: #EFF7F6;
    background-color:#F2B5D4;
    margin-right:40px;
    margin-top: 10px;
    text-align: right;
    padding: 2px;

}

.ttl-1{
    text-align: center;
    background-color: #b2f6ef;
    display: inline-block;
    position: relative;
    top: 79px;
    left: 55px;
    padding: 4px;
    font-size: 30px;
    color: #e15199;
    text-shadow: 3px 0 #ffffff, 0 3px #ffffff, 3px 0 #ffffff, 0 3px #ffffff;
}

#prop-img{

    display: flex;
    margin: 40px auto 10px auto;
    align-content: center;
    width: 1100px;
    box-shadow: 0 0 1em #b2f6ef, 0 0 1em rgb(182, 179, 179);
    background-color: #B2F7EF;
    border:4px solid #b2f6ef;
}

#conteudo #prop-img img[src]{

    flex: 1;
    margin: 0px 2px 0px 2px;
    width: 300px;
    height: 300px;
    image-rendering: optimizeQuality;
}

.ttl-2{

    text-align: center;
    background-color: #b2f6ef;
    display: inline-block;
    position: relative;
    top: 44px;
    left: 122px;
    padding: 4px;
    font-size: 30px;
    color: #e15199;
    text-shadow: 3px 0 #ffffff, 0 3px #ffffff, 3px 0 #ffffff, 0 3px #ffffff;
}

#prop-card{

    display: flex;
    margin: 5px auto 5px auto;
    /* padding-top: 10px; */
    justify-content: center;
    width: 960px;
    box-shadow: 0 0 1em #b2f6ef, 0 0 1em gainsboro;
    background-color: #B2F7EF;
    border:4px solid #b2f6ef;
}

#fig-1,#fig-2, #fig-3, #fig-4{

    flex: 1;
    align-content: center;
    align-items: center;
    width: 210px;
    height: 210px;   
}

.lcard1, .lcard2, .lcard3, .lcard4{

    flex-flow: column;
    width: 200px;
    height: 200px;
    border: 2px solid #b2f6ef;
    border-radius: 50%;
    align-items: center;
    image-rendering: optimizeQuality;
}

.f1, .f2, .f3, .f4{

    display: block;
    width: 180px;
    margin: 0;
    text-align: center;
    font-weight: bolder;
    padding:4px 0px 4px 0px;
}
.link6, .link7, .link8, .link9{

    text-decoration: none;
    color:#e15199;
    font-size: 30px;
    text-align: center;
}

.ttl-3{
    text-align: center;
    background-color: #b2f6ef;
    display: inline-block;
    position: relative;
    top: 47px;
    left: 56px;
    padding: 4px;
    font-size: 29px;
    color: #e15199;
    text-shadow: 3px 0 #ffffff, 0 3px #ffffff, 3px 0 #ffffff, 0 3px #ffffff;
}

#materia{
    display: flex;
    margin: 10px auto 40px auto;
    align-content: space-around;
    padding-top:30px;
    width: 1100px;
    box-shadow: 0 0 1em #b2f6ef, 0 0 1em rgb(182, 179, 179);
    background-color: #B2F7EF;
    border:4px solid #b2f6ef;
}
#fig-5, #fig-6{
    height: 130px;
    border-right: 6px solid #7BDFF2;
    border-left: 6px solid #7BDFF2;
    padding-top: 4px;
    margin-left: 10px;
}
.lcard5, .lcard6{
    height:120px;
    width:100px;
}

.link10, .link11{
    text-decoration: none;
    color:#e15199;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Baloo 2', cursive;
    margin: 20px 10px 20px 0px;
    text-align: center ;
    padding:4px 0px 4px 0px;
    background-color: #7BDFF2;
    box-shadow: 0 0 1em  rgb(182, 179, 179);
}

.p-mt1, .p-mt2{
    font-size: 16px;
    display: block;
    flex: 1;
    font-weight: bold;
    text-decoration: none;
    color: #e15199;
}

.ttl-4{
    color: #e15199;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    display: inline-block;
    margin: auto;
    width: 250px;
}

footer{
    margin-top: 30px;
    width: 100%;
    height: 180px;
    background: url("../imagens/Banner.jpg") center no-repeat;
    position: relative;
    text-align: center;
}

